[submodule "crm"]
	path = crm
	url = https://github.com/trycompai/crm.git
	branch = release
[submodule "hermes-agent"]
	path = hermes-agent
	url = https://github.com/NousResearch/hermes-agent.git
	branch = main
